@model UserRent
@{
    ViewData["Title"] = "Ваша открытая бронь";
}

<form method="post" asp-action="OpenRentInfo" class="card border-secondary mt-5">
    <input asp-for="@Model.rent.id" hidden="" />
    <div class="card-header d-flex justify-content-between align-items-center">
        <p class="m-0">Ваша открытая бронь</p>
        <a class="btn btn-outline-secondary" asp-controller="User" asp-action="Profile"><i class="bi bi-box-arrow-left"></i></a>
    </div>

    <div class="card-body">
        <div class="form-group">
            <div class="mt-2">
                <label asp-for="@Model.rent.roomNumber" class="form-label"></label>
                <input asp-for="@Model.rent.roomNumber" class="form-control" disabled="">
            </div>

            <div class="mt-2">
                <label asp-for="@Model.rent.timeOf" class="form-label"></label>
                <input asp-for="@Model.rent.timeOf" type="datetime-local" class="form-control" disabled="">
            </div>

            <div class="mt-2">
                <label asp-for="@Model.rent.duration" class="form-label"></label>
                <input asp-for="@Model.rent.duration" type="number" class="form-control" disabled="">
            </div>

            <div class="mt-2">
                <label asp-for="@Model.openRent.descriptionOf" class="form-label"></label>
                <textarea asp-for="@Model.openRent.descriptionOf" class="form-control" disabled=""></textarea>
            </div>

            <div class="mt-2 mb-4">
                <label asp-for="@Model.rent.price" class="form-label"></label>
                <input asp-for="@Model.rent.price" type="number" class="form-control" disabled="">
            </div>

            <div class="modal-footer mt-2">
                <button type="submit" class="btn btn-danger">Отменить бронь</button>
            </div>
        </div>
    </div>
</form>