@model NewOpenRent
@{
    ViewData["Title"] = "Удаление открытой брони";
}

<form method="post" asp-action="DeleteOpenRent" class="card border-secondary mt-5">
    <input asp-for="@Model.openRent.id" hidden="" />
    <div class="card-header d-flex justify-content-between align-items-center">
        <p class="m-0">Удаление открытой брони</p>
        <a class="btn btn-outline-secondary" asp-controller="AdminTools" asp-action="OpenRentsTable"><i class="bi bi-box-arrow-left"></i></a>
    </div>

    <div class="card-body">
        <div class="form-group">
            <div class="mt-2">
                <label asp-for="@Model.openRent.rentId" class="form-label"></label>
                <select asp-for="@Model.openRent.rentId" class="form-select" disabled="">
                    @{
                        foreach (var obj in Model.rents)
                        {
                            <option>@obj.id</option>
                        }
                    }
                </select>
            </div>

            <div class="mt-2">
                <label asp-for="@Model.openRent.peopleCount" class="form-label"></label>
                <input asp-for="@Model.openRent.peopleCount" type="number" class="form-control" placeholder="Введите сколько вас будет"  disabled="">
            </div>

            <div class="mt-2 mb-4">
                <label asp-for="@Model.openRent.descriptionOf" class="form-label"></label>
                <textarea asp-for="@Model.openRent.descriptionOf" class="form-control" placeholder="Введите описание"  disabled=""></textarea>
            </div>

            <div class="modal-footer mt-2">
                <button type="submit" class="btn btn-danger">Удалить</button>
            </div>
        </div>
    </div>
</form>